/* Barra de lateral */

.sidebar {
  height: 100%;
  width: 250px; /* Puedes ajustar el ancho según tus preferencias */
  position: fixed;
  top: 0;
  left: 0;
  background-color: #040b14; /* Cambia el color de fondo según tus preferencias */
  overflow-x: hidden;
  padding-top: 20px;
  display: block; /* Por defecto, se muestra la barra lateral */
  border-right: #ffffff solid 1px;
}

.sidebar .navbar-brand {
  text-align: center;
  margin-bottom: 20px;
}

.sidebar .photo {
  width: 150px;
  /* height: 100px; */
  border-radius: 50%;
  border: 4px solid #E5edfa;
}

.sidebar .nav-link {
  padding: 10px 20px;
}

.nav-item.active a {
  background-color: #e9ecef; /* Color de fondo para el enlace activo */
  border-radius: 5px; /* Borde redondeado para el enlace activo */
}
/* Estilos generales */

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 200px; /* Ajusta este valor según el ancho de tu barra lateral */
}

h1 {
  font-size: 2.5rem;
  font-family: 'Rubik Dirt', cursive;
}

.seccion-oscura {
  color: black;
  background-color: #E5edfa;
}
.seccion-footer {
  color: white;
  background-color: #040b14;
}

.seccion-clara {
  color: black;
  background-color: white;
}

.seccion-titulo {
  font-size: 3rem;
  padding: 15px 0;
  font-family: 'Rubik Dirt', cursive;
  color:#040b14
}

.seccion-descripcion {
  font-size: 1.2rem;
  color: black;
}

.seccion-texto {
  font-size: 1.2rem;
  text-align: justify; /* Justificar el texto */
}

.btn-info {
  font-size: 1.1rem;
  margin: 20px;
}

.texto-negro {
  color: black;
}

.texto-blanco {
  color: white;
}

/* Seccion Hero */

.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://res.cloudinary.com/dcposqieu/image/upload/v1710807644/Fondo%20Portfolio.jpg');
  /* El primer color en el gradiente es semitransparente negro (rgba(0, 0, 0, 0.5)) y el segundo color es también semitransparente negro. */
  background-size: cover;
  background-position: center;
  color: white;
  height: 100vh; /* La altura de la sección será el 100% de la altura de la ventana */
}
.hero-principal {
  padding: 3rem;
}

.hero-imagen-desarrollador {
  width: 200px;
  height: 200px;
}
.hero-principal h1 {
  font-size: 5rem;
  color: white;
}
.hero-principal h2 {
  font-size: 2rem;
  color: white;
  text-decoration: underline;
}

/* Sobre mi */

.sobre-mi {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.contenedor {
  max-width: 90%; 
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 15px; 
  margin-bottom: 50px;
}

.con-perfil {
  margin-left: 20px;
  margin-right: 20px;
}

.imagen-perfil {
  min-width: 150px;
  max-width: 225px;
  border-radius: 5%;
}

.btn-descargar {
  background-color:#149ddd; 
  color: white; 
  padding: 10px; 
  border: none; 
  border-radius: 10px; 
  font-size: 20px; 
  text-decoration: none; 
  margin-top: 20px;
  transition: background-color 0.3s ease;
}

.btn-descargar:hover {
  background-color: #040b14; 
  border: 3.5px solid #149ddd;
}
/* Estudios */
.resume {
  display: flex;
  flex-direction: column;
  text-align: justify;
  margin-left: 40px;
  margin-right: 30px;
  margin-top: 20px;
}

.resume .resume-item {
  padding: 0 0 0 30px;
  margin-top: 2px;
  border-left: 2px solid #149ddd;
  position: relative;
}

.resume .resume-item h4 {
  line-height: 18px;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  color: #050d18;
  margin-top: 10px;
  margin-bottom: 5px;
}

.resume .resume-item::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50px;
  left: -9px;
  top: 0;
  background: #fff;
  border: 3px solid #149ddd;
}


.icono-documento i {
  color: #149ddd;
  font-size: 1.2rem;
  transition: all 0.2s ease-in;
}

.icono-documento a:hover i {
  color: #040b14;
}

/* Habilidades */
.habilidades {
  margin-top: 10px;
  margin-bottom: 40px;
  margin-left: 275px;
}

.habilidades .subtitulo {
  margin-top: 30px;
  margin-bottom: 20px;
}

.habilidad {
  margin-bottom: 20px;
  margin-right: 30px;
  
}

.habilidad .habilidad-espacio {
  display: flex;
  justify-content: space-between;
  margin-bottom: -5px;
}
.habilidad .habilidad-nombre {
  font-weight: bold;
  margin-bottom: 5px;
}

.habilidad .habilidad-porcentaje {
  margin-bottom: 5px;
}

.habilidad-barra {
  background-color: #E5edfa;
  border: 1px solid #149ddd;
  border-radius: 3px;
  height: 10px;
  width: 100%;
}

.habilidad-nivel {
  background-color: #149ddd;
  border-radius: 3px;
  height: 100%;
}
/* Servicios */

.servicios {
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-left: 250px;
}

.servicios .columna {
  padding: 20px;
  border: 2px solid #149ddd;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  transition: all 0.2s ease-in;
}

.servicios .columna:hover {
  color: white;
  background-color: #040b14;
}

.servicios i {
  font-size: 2.5rem;
  color: white;
  background-color: #149ddd;
  padding: 8px 19px;
  border-radius: 50%;
}

.servicios-titulo {
  font-size: 25px;
  font-weight: bold;
  margin: 10px 0;
}



/* Proyectos */

.proyectos-recientes {
  padding: 40px;
}

.proyectos-recientes img {
  height: 100%;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  display: block;
  transition: all 0.2s ease;
}

.proyectos-contenedor {
  padding-top: 10px;
  margin-bottom: 40px;
  margin-left: 30px;
}

.overlay {
  transition: all 0.2s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.overlay p {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 0;
}

.proyecto {
  position: relative;
}

.proyecto:hover img {
  opacity: 0.2;
}

.proyecto:hover .overlay {
  opacity: 1;
}

.overlay .iconos-contenedor {
  display: flex;
}

.overlay i {
  color: black;
  font-size: 60px;
  margin: 10px;
}

/* Modales*/

.modal-content {
  background-color: #ffffff;
  border-radius: 10px;
}

.modal-header {
  background-color: #040b14; 
  color: #ffffff;
}

.modal-title {
  font-size: 1.5rem;
}

.modal-body {
  padding: 20px;
}

.modal-footer {
  border-top: none; 
}

.modal-footer .btn {
  background-color: #149ddd; /* Fondo azul para los botones */
  color: #ffffff; /* Texto blanco */
}

.modal-footer .btn:hover {
  background-color: #040b14; /* Color de fondo azul más oscuro al pasar el ratón */
}

.close {
  color: #ffffff; /* Texto blanco */
  opacity: 1; /* Opacidad completa */
}

.close:hover {
  color: #ffffff; /* Texto blanco */
  opacity: 0.75; /* Opacidad reducida al pasar el ratón */
}

/* Ajuste de tamaño de imagen dentro del modal */
.modal-body img {
  width: 400px; /* Ancho máximo igual al ancho del contenedor */
  margin-left: 25px ;
  border: 2px solid #149ddd;
  margin-bottom: 10px;
}

/* Testimonios */

.testimonios {
  padding: 40px 40px 0px 40px;
}

.testimonios .carousel {
  max-width: 800px;
}

.carousel-item {
  height: 500px;
}

.carousel-item .container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.testimonio-imagen {
  height: 150px;
  width: 150px;
  margin: 10px 10px 20px 10px;
  border: 2px solid #149ddd;
}

.testimonio-texto {
  max-width: 70%;
  font-size: 20px;
  text-align: center;
  font-family: 'Share Tech Mono', monospace;
}

.testimonio-info {
  font-weight: bold;
  text-align: center;
}

.testimonio-info p {
  margin-bottom: 0;
}

.testimonio-footer .persona {
  font-size: 1.2rem;
}

.testimonio-info .cargo {
  font-size: 0.9rem;
  color: #656060;
}

/* Contacto */

.contacto .container {
  max-width: 1100px;
  min-height: 200px;
  padding: 20px;
}

.contacto .rectangulo {
  margin-bottom: -5rem;
  margin-left: 1.5rem;
  background-color: #149ddd;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px #040b14;
}

.contacto .row {
  width: 100%;
  display: flex;
  align-items: center;
}

.contacto .descripcion {
  color: white;
  font-size: 1.2rem;
}

.contacto button {
  color: #040b14;
  font-weight: bold;
  background-color: white;
  border: 2px solid ;
  padding: 1.25em 2em;
  margin: 10px;
  border-radius: 100px;
  transition: all 0.2s ease-in-out;
}

.contacto button:hover {
  background-color: #040b14;
  color: white;
}

.contacto button i {
  color: black;
  font-size: 1.3rem;
  transition: all 0.2s ease-in-out;
}

.contacto button:hover i {
  color: white;
}

/* Pie de pagina (footer) */

footer {
  max-height: 400px;
  margin-left: 200px; /* Ajusta este valor según el ancho de tu barra lateral */
}

.footer-logo {
  height: 80px;
  width: 80px;
  margin: 10px;
}

.footer-texto {
  font-size: 1.5rem;
  padding: 20px;
  margin-bottom: 30px;
  font-family: 'Quicksand', sans-serif;
}

.iconos-redes-sociales a {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  margin: 10px;
  margin-top: 50px;
  border: 2px solid white;
  border-radius: 50%;
  transition: all 0.2s ease-in;
}

.iconos-redes-sociales i {
  color: white;
  font-size: 1.5rem;
  transition: all 0.2s ease-in;
}

.iconos-redes-sociales a:hover {
  background-color: #149ddd;
}

.iconos-redes-sociales a:hover i {
  color: white;
}
.derechos-de-autor {
  font-size: 15px;
  color: #aeaeae;
  padding: 20px;
}

/* Adaptable (Responsivo) */

@media screen and (max-width: 400px) {
  .overlay p {
    font-size: 18px;
  }

  .overlay i {
    font-size: 40px;
  }
}

@media screen and (max-width: 767px) {
  .sidebar {
    display: none; /* Oculta la barra lateral */
  }
  
  /* Ajusta el contenido principal cuando la barra lateral está oculta */
  section {
    margin-left: 0; /* Elimina el margen izquierdo */
  }
}

@media screen and (max-width: 800px) {
  .testimonio-imagen {
    height: 120px;
    width: 120px;
  }

  .testimonio-texto {
    font-size: 18px;
  }
}

@media screen and (min-width: 700px) {
  .hero-inferior-imagen {
    max-width: 600px;
  }
}
@media screen and (max-width: 800px) {
  .sobre-mi .contenedor {
    flex-direction: column; /* Cambia la dirección del flexbox a columna */
    align-items: center; /* Centra los elementos en el eje transversal */
  }
  
  .imagen-perfil {
    width: 120px; /* Reducir el ancho de la imagen */
    height: 120px; /* Reducir la altura de la imagen */
    margin-bottom: 20px; /* Agregar espacio entre la imagen y el texto */
  }
}

@media screen and (max-width: 767px) {
  .servicios {
    margin-left: 0; /* Elimina el margen izquierdo en pantallas pequeñas */
  }
}
@media screen and (max-width: 767px) {
  .proyectos-contenedor {
    margin-left: 0; /* Elimina el margen izquierdo en pantallas pequeñas */
  }
}

@media (max-width: 576px) {
  .modal-dialog {
    margin: 0.5rem; /* Margen reducido en dispositivos móviles */
  }

  .modal-content {
    border: none; /* Sin borde en dispositivos móviles */
    border-radius: 0; /* Bordes cuadrados en dispositivos móviles */
  }

  .modal-header, .modal-footer {
    padding: 10px 20px; /* Espaciado interno reducido en dispositivos móviles */
  }

  .modal-footer .close-btn {
    font-size: 0.9rem; /* Tamaño de fuente reducido en dispositivos móviles */
  }

  .modal-body img {
    max-width: 100%; /* Ancho máximo igual al ancho del contenedor en dispositivos móviles */
    height: auto; /* Altura automática para mantener la proporción */
    margin-left: 0px;
  }
}
@media screen and (max-width: 767px) {
  footer {
    margin-left: 0; 
  }
}

@media screen and (max-width: 767px) {
  .contacto .rectangulo {
    margin-bottom: 0; /* Quita el margen inferior */
    margin-left: 5px; /* Quita el margen izquierdo */
  }
}



@media screen and (max-width: 767px) {
  .habilidades { 
    margin-left: 0px; /* Quita el margen izquierdo */
  }
}